@model BlockViewModel

<div class="col-xs-6">
    <div class="row form-group">
        <div class="col-xs-12">
            <div class="row form-group">
                <div class="col-xs-6">
                    <label asp-for="Id"></label>

                    <h5>@Model.Id</h5>
                </div>

                <div class="col-xs-6">
                    <label asp-for="TransactionsCount"></label>

                    <h5>@Model.TransactionsCount</h5>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-xs-6">
                    <label asp-for="Difficulty"></label>

                    <h5>@Model.Difficulty</h5>
                </div>

                <div class="col-xs-6">
                    <label asp-for="MinedBy"></label>

                    <h5>@Model.MinedBy</h5>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-xs-6">
                    <label asp-for="Hash"></label>

                    <h5>@Model.Hash</h5>
                </div>

                <div class="col-xs-6">
                    <label asp-for="PreviousHash"></label>

                    <h5>@Model.PreviousHash</h5>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-xs-6">
                    <label asp-for="Nonce"></label>

                    <h5>@Model.Nonce</h5>
                </div>

                <div class="col-xs-6">
                    <label asp-for="MinedOn"></label>

                    <h5>@Model.MinedOn</h5>
                </div>
            </div>
        </div>
    </div>
</div>
