@model TransactionViewModel

<div class="row form-group">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-1">
                <label asp-for="Hash"></label>
            </div>

            <div class="col-xs-11">
                <span>@Model.Hash</span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-1">
                <label asp-for="From"></label>
            </div>

            <div class="col-xs-11">
                <span>@Model.From</span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-1">
                <label asp-for="To"></label>
            </div>

            <div class="col-xs-11">
                <span>@Model.To</span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <label asp-for="Amount"></label>
            </div>

            <div class="col-xs-10">
                <span>@Model.Amount</span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <label asp-for="CreatedOn"></label>
            </div>

            <div class="col-xs-10">
                <span>@Model.CreatedOn</span>
            </div>
        </div>
    </div>
</div>